@import "header";
@import "video";

#st-johns-story {
	height: 650px;
	background:
		url(../img/story-full-court.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: -40px;
}

.story {
	float: right;
	width: 40%;
	margin: 110px 140px 0px 140px;
	text-align: center;
}

.story > img {
	margin-bottom: 10px;
}

.story > p {
	font-size: 22px;
	line-height: 1.25;
}