@import "header";
@import "video";
@import "story";

@font-face {
	font-family: DisplayProReg;
	src: url(../fonts/PFDinDisplayPro-Regular.ttf);
}

@font-face {
	font-family: DisplayProBold;
	src: url(../fonts/PFDinDisplayPro-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: TextProReg;
	src: url(../fonts/PFDinTextPro-Regular.ttf);
}

@font-face {
	font-family: TextProBold;
	src: url(../fonts/PFDinTextPro-Bold.ttf);
	font-weight: bold;
}

body {
	font-family: TextProReg;
}

h3 {
	font-size: 2em;
	margin: 0px;
}

h5 {
	font-size: 1.25em;
	margin-bottom: 0px;
	color: #000;
}

footer {
	height: 600px;
	background: url(../img/footer-dots.png);
}

footer h3 {
	color: #000;
	padding: 35px;
}

footer p {
	color: #000;
	margin-top: 0px
}

i {
	color: #5C2C81;
}

.hashtags {
	color: #5C2C81;
}

button {
	background-color: #5C2C81;
	border-radius: 5px;
	border: 0px;
	box-shadow: 5px 5px rgba(155,155,155,0.6);
	margin-bottom: 10px;
	padding: 15px;
}