@import "header";
@import "video";

#story {
	height: 650px;
	background:
		url(../img/story-full-court.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: -40px;
}

.story-content {
	float: right;
	width: 45%;
	margin: 110px;
	text-align: center;
}

.story-content > img {
	margin-bottom: 10px;
}

.story-content > p {
	font-size: 22px;
	line-height: 1.25;
}