body {
  margin: 0;
}

/* --------------------- CUSTOM GRID --------------------- */
.container *{
  box-sizing: border-box; 
}

.container {
	width: 1024px;
	margin: 0px auto;
	text-align: center;
}

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	width: 170.67px;
	padding: 25px;
}

.col-1 { width: 16.67%; }
.col-2 { width: 33.33%; }
.col-3 { width: 50%;    }
.col-4 { width: 66.67%; }
.col-5 { width: 83.33%; }
.col-6 { width: 100%;   }

/* -------------------- CUSTOM FONTS -------------------- */

@font-face {
	font-family: DisplayProReg;
	src: url(../fonts/PFDinDisplayPro-Regular.ttf);
}

@font-face {
	font-family: DisplayProBold;
	src: url(../fonts/PFDinDisplayPro-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: TextProReg;
	src: url(../fonts/PFDinTextPro-Regular.ttf);
}

@font-face {
	font-family: TextProBold;
	src: url(../fonts/PFDinTextPro-Bold.ttf);
	font-weight: bold;
}

/* --------------- HEADERS / PARAGRAPHS --------------- */

h1 {
	font-family: DisplayProBold;
	font-size: 5em;
	margin: 0px;
}

h2 {
	font-family: DisplayProBold;
	font-size: 2.5em;
	margin: 0px;
}

h3 {
	font-family: TextProBold;
	font-size: 2em;
	margin: 0px;
}

h4 {
	font-family: DisplayProBold;
	font-size: 1.5em;
	margin: 0px;
}

h5 {
	font-family: TextProBold;
	font-size: 1.25em;
	margin: 0px;
}

p {
	font-family: DisplayProReg;
	font-size: 22px;
	margin: 0px;
}

/* --------------------- HEADER --------------------- */

#header {
	color: #5C2C81;
	height: 300px;
	background: 
		url(../img/header-dots.png),
		url(../img/header-bm.png);
	background-repeat: no-repeat;
	background-position: center;
}

.logos {
	float: left;
	padding-top: 75px;
}

.logos img {
	width: 300px;
}

.vote {
	float: right;
	padding-top: 40px;
	padding-right: 55px;
}

#purple-bar {
	height: 5px;
	background-color: #5C2C81;
}

/* --------------------- VIDEO --------------------- */

#video {
	color: #FFF;
	background-color: #000;
}

#video p {
	font-size: 18px;
}

#video h4 {
	margin: 25px;
}

/* --------------------- STORY --------------------- */

#story {
  color: #000;
	height: 650px;
	background: url(../img/story-full-court.png);
	background-color: #000;
	background-repeat: no-repeat;
	background-size: 100%;
}

#post-story {
	color: #FFF;
	background-color: #000;
}

.story-content {
	float: right;
	width: 45%;
	margin: 110px 110px 0px 110px;
	text-align: center;
}

.story-content > img {
	margin-bottom: 25px;
}

/* -------------------- VOTING -------------------- */

#voting {
	color: #000;
	height: 600px;
	padding-top: 15px;
	background: url(../img/footer-dots.png);
}

.social {
	float: left;
	width: 33.33%;
}

i {
	color: #5C2C81;
	margin-bottom: 20px;
}

.post {
	font-family: TextProReg;
	font-size: 16px;
	margin-bottom: 15px;
}

.hashtags {
	font-family: TextProBold;
	font-size: 16px;
	color: #5C2C81;
	margin-bottom: 15px;
}

button {
	font-family: TextProReg;
	color: #FFF;
	background-color: #5C2C81;
	border-radius: 5px;
	border: 0px;
	box-shadow: 5px 5px rgba(155,155,155,0.6);
	margin-bottom: 10px;
	padding: 10px 15px 10px 15px;
}

.deadline {
	margin-top: 20px;
}