/*footer {
	color: #000;
	height: 600px;
	background: url(../img/footer-dots.png);
}
*/
.social {
	font-family: TextProReg;
	font-size: 16px;
}

.hashtags {
	font-family: TextProBold;
	font-size: 16px;
	color: #5C2C81;
}

i {
	color: #5C2C81;
}

button {
	font-family: TextProReg;
	color: #FFF;
	background-color: #5C2C81;
	border-radius: 5px;
	border: 0px;
	box-shadow: 5px 5px rgba(155,155,155,0.6);
	margin-bottom: 10px;
	padding: 10px 15px;
}

.deadline {
	margin-top: 20px;
}