#logos {
	float: left;
	padding-top: 75px;
}

#logos img {
	width: 300px;
}

#vote {
	float: right;
	padding-top: 40px;
	padding-right: 55px;
}

#purple-bar {
	height: 5px;
	background-color: #5C2C81;
}