h1 {
	font-size: 5em;
	color: #5C2C81;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-size: 2.5em;
	color: #5C2C81;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#header {
	height: 300px;
	background: 
		url(../img/header-dots.png),
		url(../img/header-bm.png);
	background-repeat: none;
	background-position: center;
}

#logos {
	float: left;
	padding-top: 70px;
	padding-left: 170px;
}

#vote {
	float: right;
	padding-top: 40px;
	padding-right: 250px;
}

#purple-bar {
	height: 5px;
	background-color: #5C2C81;
}