.story-content {
	float: right;
	width: 45%;
	margin: 110px 110px 0px 110px;
	text-align: center;
}

.story-content > img {
	margin-bottom: 10px;
}

#post-story {
	color: #FFF;
	background-color: #000;
}